body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px 96px 32px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 12px;
    font-weight: 900;
}

.links {
    margin: 12px;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 32px 98px 98px;
}

.h-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.h-text {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.h-left {
    display: flex;
    flex-direction: column;
}

.spider-man {
    width: 300px;
    height: auto;
}

button {
    align-self: flex-start;
    border-radius: 6px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 900;
    padding: 4px 16px;
}

.powers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.p-info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 32px;
}

.p-container {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 168px;
}

.power {
    width: 84px;
    height: 84px;
    align-self: center;
    border: 2px solid #3882F6;
    border-radius: 6px;
    padding: 2px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    padding: 64px;
    justify-content: center;
}